**/__pycache__/
driver/
playwright/driver/
playwright.egg-info/
build/
dist/
venv/
.idea/
**/*.pyc
env/
htmlcov/
.coverage*
.DS_Store
.vscode/
.eggs
_repo_version.py
coverage.xml
junit/
htmldocs/
utils/docker/dist/
Pipfile
Pipfile.lock
.venv/
