autobahn==23.1.2
black==25.1.0
build==1.3.0
flake8==7.2.0
mypy==1.17.1
objgraph==3.6.2
Pillow==11.3.0
pixelmatch==0.3.0
pre-commit==3.5.0
pyOpenSSL==25.1.0
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.3.0
pytest-repeat==0.9.4
pytest-rerunfailures==15.1
pytest-timeout==2.4.0
pytest-xdist==3.8.0
requests==2.32.5
service_identity==24.2.0
twisted==25.5.0
types-pyOpenSSL==24.1.0.20240722
types-requests==2.32.4.20250809
