autobahn==23.1.2
black==25.1.0
build==1.2.2.post1
flake8==7.2.0
mypy==1.15.0
objgraph==3.6.2
Pillow==11.2.1
pixelmatch==0.3.0
pre-commit==3.5.0
pyOpenSSL==25.1.0
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==6.1.1
pytest-repeat==0.9.4
pytest-rerunfailures==15.1
pytest-timeout==2.4.0
pytest-xdist==3.6.1
requests==2.32.3
service_identity==24.2.0
twisted==24.11.0
types-pyOpenSSL==24.1.0.20240722
types-requests==2.32.0.20250515
