auditwheel==5.4.0
autobahn==23.1.2
black==23.9.1
flake8==6.1.0
flaky==3.7.0
mypy==1.5.1
objgraph==3.6.0
Pillow==10.0.1
pixelmatch==0.3.0
pre-commit==3.4.0
pyOpenSSL==23.2.0
pytest==7.4.2
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-repeat==0.9.1
pytest-timeout==2.1.0
pytest-xdist==3.3.1
requests==2.31.0
service_identity==23.1.0
setuptools==68.2.2
twisted==23.10.0
types-pyOpenSSL==23.2.0.2
types-requests==2.31.0.10
wheel==0.41.2
