pr: none

trigger:
  tags:
    include:
    - '*'

resources:
  repositories:
  - repository: 1esPipelines
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    pool:
      name: DevDivPlaywrightAzurePipelinesUbuntu2204
      os: linux
    sdl:
      sourceAnalysisPool:
        name: DevDivPlaywrightAzurePipelinesWindows2022
        # The image must be windows-based due to restrictions of the SDL tools. See: https://aka.ms/AAo6v8e
        # In the case of a windows build, this can be the same as the above pool image.
        os: windows
      suppression:
        suppressionFile: $(Build.SourcesDirectory)\.azure-pipelines\guardian\SDL\.gdnsuppress
    stages:
    - stage: Stage
      jobs:
      - job: Build
        templateContext:
          outputs:
          - output: pipelineArtifact
            path: $(Build.ArtifactStagingDirectory)/esrp-build
            artifact: esrp-build
        steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '3.9'
          displayName: 'Use Python'
        - script: |
            python -m pip install --upgrade pip
            pip install -r local-requirements.txt
            pip install -r requirements.txt
            pip install -e .
            for wheel in $(python setup.py --list-wheels); do
              PLAYWRIGHT_TARGET_WHEEL=$wheel python -m build --wheel --outdir $(Build.ArtifactStagingDirectory)/esrp-build
            done
          displayName: 'Install & Build'
      - job: Publish
        dependsOn: Build
        templateContext:
          type: releaseJob
          isProduction: true
          inputs:
          - input: pipelineArtifact
            artifactName: esrp-build
            targetPath: $(Build.ArtifactStagingDirectory)/esrp-build
        steps:
          - checkout: none
          - task: EsrpRelease@9
            inputs:
              connectedservicename: 'Playwright-ESRP-PME'
              usemanagedidentity: true
              keyvaultname: 'playwright-esrp-pme'
              signcertname: 'ESRP-Release-Sign'
              clientid: '13434a40-7de4-4c23-81a3-d843dc81c2c5'
              intent: 'PackageDistribution'
              contenttype: 'PyPi'
              # Keeping it commented out as a workaround for:
              # https://portal.microsofticm.com/imp/v3/incidents/incident/499972482/summary
              # contentsource: 'folder'
              folderlocation: '$(Build.ArtifactStagingDirectory)/esrp-build'
              waitforreleasecompletion: true
              owners: 'maxschmitt@microsoft.com'
              approvers: 'maxschmitt@microsoft.com'
              serviceendpointurl: 'https://api.esrp.microsoft.com'
              mainpublisher: 'Playwright'
              domaintenantid: '975f013f-7f24-47e8-a7d3-abc4752bf346'
            displayName: 'ESRP Release to PIP'
